@* @model WebApp.Models.ProductModel

<h4>@Html.DisplayFor(product => product.Name)</h4>
<p>@Html.DisplayFor(product => product.Description)</p>

<div>
    <p>@Html.DisplayFor(product => product.Price)</p>
    <a class = "btn btn-primary" asp-action = "AddToCart">Add to Cart</a>
</div> *@

@model WebApp.Models.ProductModel

<h4>@Html.DisplayFor(product => product.Name)</h4>
<p>@Html.DisplayFor(product => product.Description)</p>

<div>
    <p>@Html.DisplayFor(product => product.Price)</p>

    <!-- Create a form to submit the product data to the AddToCart action -->
    <form asp-action="AddToCart" method="post">
        <!-- Hidden fields to submit the product data -->
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="Price" />

        <!-- Submit button for adding to the cart -->
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>
</div>